div{
    text-align: center;
    color: white;
}
button{
    border-radius: 15px;
    width: 300px;
    margin-top: 50px;
    color: white;
}
button:hover{
    background-color: white;
    border: 2px solid black;
}